/* GLOBAL VARS */
:root {
	--font-default: 'DM Sans', Arial, Helvetica, sans-serif;
	--color-red: #FE142F;

	--navbar-height       : 8rem;
	--radius              : 8px;
	--checkbox-size       : 18px;
	--checkbox-border-size: 1.5px;
	--checkbox-offset     : 1.5px;

	--modal-duration: .8s;
}

/* RESET CSS */
*, *::before, *::after {
	margin    : 0;
	padding   : 0;
	box-sizing: border-box;
}
:is(*, *::before, *::after):not(input) {
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, a {
	border: none;
	cursor: pointer;
}

/* EM sizing setup */
html {
	font-size: 61.25%;
}
body {
	font-size  : 1rem;
	font-family: var(--font-default);
	font-weight: 400;

	min-height: 100vh;

	display        : flex;
	flex-flow      : column nowrap;
	align-items    : stretch;
	justify-content: flex-start;
}

/* Navigation */
.topnav {
	position  : relative;
	z-index   : 2;
	height    : var(--navbar-height);
	margin    : 0 2em;

	display        : flex;
	flex-flow      : row nowrap;
	align-items    : center;
	justify-content: space-between;
}
.topnav > .header-logo {
	font-size: 2em;

	height       : 1.3em;
	z-index      : 2;
	margin-left  : .5em;
}
.topnav > .header-logo > img {
	height: 100%;
}
.topnav > .main-navbar {
	font-size: 2em;

	background-color: white;
	position        : fixed;
	padding         : 1em 2em;
	z-index         : 1;
	bottom          : 0;
	right           : 0;
	left            : 0;
	top             : var(--navbar-height);

	display        : flex;
	flex-flow      : column nowrap;
	align-items    : stretch;
	justify-content: flex-start;

	transform : translateY(-120%);
	transition: transform .3s ease;
}
.topnav a {
	color          : #000000;
	text-align     : center;
	font-family    : Roboto, sans-serif;
	text-decoration: none;
	
	padding      : .5em 1em;
	border-radius: var(--radius);
	margin-bottom: 1em;

	transition: color .3s ease, background .3s ease;
}
.topnav a:is(:hover,.active),
.topnav.responsive > .icon {
	color           : #FFFFFF;
	background-color: #FF0000;
}
.topnav a:is(:hover,.active) span {
	border-bottom: 1px solid rgba(255, 255, 255, .6);
}
.topnav > .icon {
	font-size  : 2em;
	font-weight: lighter;
	color      : var(--color-red);

	margin : 0;
	z-index: 2;

	display: block;
}

/* Navigation opened */
body.menu-opened {
	overflow: hidden;
}
.topnav.responsive > .main-navbar {
	transform : translateY(0%);
	transition: transform .3s ease;
}
.topnav.responsive a {
	display: block;
}

.modal-btn {
	color    : #FFFFFF;
	background   : #FE142F;
	border-radius: var(--radius);
}
.modal-btn:hover {
	background: #3876AC;
}

/* Content */
main {
	font-weight: bolder;
	color      : black;
	text-align : justify;

	margin       : 0;
	padding      : 0 2em;
	border-radius: var(--radius);

	display        : flex;
	flex-grow      : 1;
	flex-flow      : column nowrap;
	align-items    : stretch;
	justify-content: stretch;
}
.hero-section {
	overflow     : hidden;
	position     : relative;
	padding      : 0 1em;
	border-radius: var(--radius);

	display        : flex;
	flex-grow      : 1;
	flex-flow      : column nowrap;
	align-items    : stretch;
	justify-content: flex-start;
}
.hero-section > .btn-signup {
	margin : auto;
}
.hero-img {
	margin       : 1em 0;
	overflow     : hidden;
}
.hero-img img {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	border-radius  : var(--radius);
}
.btn-signup {
	text-transform: capitalize;
	outline: none;
}
.hero-content {
	font-size : 1.5em;
	color     : #000000;
	text-align: left;
	
	width     : 100%;
	position  : relative;
	background: transparent;

	display        : flex;
	flex-grow      : 0;
	flex-flow      : column nowrap;
	align-items    : flex-start;
	justify-content: flex-start;
}
.hero-content > * {
	position: relative;
	z-index : 1;
}
.hero-content .btn-signup {
	display: none;
}
.hero-headline {
	font-size  : 2.5em;
	font-family: var(--font-slab);
	font-weight: bold;

	padding: 0;
	margin : 0;
}
.hero-text {
	font-size  : .95em;
	font-weight: 400;

	padding: 1em 0;
	margin : 1em 0;
}

/* Modal form */
.button {
	color    : #FFFFFF;

	border       : none;
	margin-top   : 0.5em;
	background   : #FE142F;
	border-radius: var(--radius);

	cursor: pointer;
}
.button:hover {
	background: #3876AC;
}
.bground {
	position: fixed;
	z-index : 3;
	bottom  : 0;
	left    : 0;
	top     : 0;

	width           : 100%;
	opacity         : 0;
	overflow-y      : scroll;
	background-color: transparent;
	
	display        : flex;
	flex-flow      : column nowrap;
	align-items    : center;
	justify-content: flex-start;
	
	-webkit-pointer-events: none;
    -khtml-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
	pointer-events: none;
	transition    : opacity var(--modal-duration) ease;
}
.bground.open {
	opacity: 1;
	-webkit-pointer-events: all;
    -khtml-pointer-events: all;
    -moz-pointer-events: all;
    -ms-pointer-events: all;
	pointer-events: all;
	transition    : opacity var(--modal-duration) ease;
}
.bground > .content {
	font-size: 1em;
	color    : #FFFFFF;

	width        : 100%;
	margin       : 0;
	position     : relative;
	max-width    : 536px;
	background   : #232323;
	margin-top   : var(--navbar-height);
	border-radius: var(--radius) var(--radius) 0 0;

	display        : flex;
	flex-flow      : column nowrap;
	justify-content: flex-start;
	flex-grow: 1;

	transform : translateY(-25%);
	transition: transform var(--modal-duration) ease;
}
.bground.open > .content {
	transform: translateY(0);
}
.modal-body {
	font-size: 1.5em;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	flex-grow: 1;

	margin : 0 auto;
	padding: 1em 2em 0 2em;

	min-height: 100%;
	height: auto;
}
#reserve-form {
	font-size: .9em;

	margin: 0;
	margin-top: 1em;

	display        : flex;
	flex-flow      : column nowrap;
	align-items    : stretch;
	justify-content: flex-start;

	transform: scaleY(1);
	transition: transform .3s ease, height .3s ease;
}
:is(label, .text-label) {
	font-size  : 1.05em;
	font-family: var(--font-default);
	font-weight: lighter;
	text-align: start;

	margin : .5em 0;
	padding: 0;
	
	display: inline-block;
	
	cursor     : pointer;
	user-select: none;
}
input {
	font-size  : 1.6em;
	line-height: 1em;
	border     : .08em solid #CCCCCC;
	padding    : .6em 1em .5em 1em;
	outline    : none;
}
.text-control {
	font-size    : 1.6em;
	line-height  : 1em;
	width        : 100%;
	padding      : .6em 1em .5em 1em;
	border-radius: var(--radius);
}
.formData {
	display        : flex;
	flex-flow      : column nowrap;
	align-items    : stretch;
	justify-content: flex-start;
}
.formData.cities {
	font-size: 1em;
	flex-flow    : row wrap;
	margin-bottom: 1em;
}
.formData[data-error]::after {
	font-size  : .8em;
	line-height: 1em;
	color      : #E54858;
	text-align : start;

	content: attr(data-error);

	opacity      : 0;
	margin-top   : .3em;
	margin-bottom: .5em;

	display: block;

	transition: opacity .3s ease;
}
.formData[data-error-visible="true"]::after {
	opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
	border: 2px solid #E54858;
}
input[data-error]::after {
    content: attr(data-error);
	display: block;
    
	width: 100%;
	height: 50px;
    color: red;
}
.checkbox-label,
.checkbox2-label {
	font-size      : .8em;
	font-weight    : normal;
	position       : relative;
	margin         : 0 1em .5em 0;
	display        : inline-flex;
	flex-flow      : row nowrap;
	align-items    : center;
	justify-content: flex-start;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
	white-space  : nowrap;

	width        : var(--checkbox-size);
	height       : var(--checkbox-size);
	border       : var(--checkbox-border-size) solid #C4C4C4;
	border-radius: var(--checkbox-size);
	margin-right : .5em;
	position     : relative;

	display      : block;

	transition   : border .3s ease;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
	content         : '';

	width           : calc(var(--checkbox-size) - calc(var(--checkbox-size) / 3));
	height          : calc(var(--checkbox-size) - calc(var(--checkbox-size) / 3));
	background-color: #279E7A;
	border-radius   : var(--checkbox-size);
	white-space     : nowrap;
	position        : absolute;
	top             : var(--checkbox-offset);
	left            : var(--checkbox-offset);
	opacity         : 0;

	transform       : rotate(0);
	transition      : transform .3s ease, opacity .3s ease;
}
.checkbox-input {
	display: none;
}
.checkbox-input + .checkbox2-label {
	font-size: .8em;
}
.checkbox2-label .checkbox-icon {
	border-radius: calc(.5 * var(--radius));
	border       : 0;
	background   : #C4C4C4;
	transition: background .3s ease;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon {
	border-color: #279E7A;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
	opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
	background: #279E7A;
	border-color: #279E7A;
	transition: background .3s ease;
}
.checkbox2-label .checkbox-icon::after {
	width              : 1.1em;
	height             : .8em;
	border-radius      : .2em;
	top                : 50%;
	left               : 50%;
	background         : transparent;
	border             : 2px solid transparent;
	border-bottom-color: #FFFFFF;
	border-left-color  : #FFFFFF;
	transform          : translate(-50%, -75%) rotate(0deg);
	opacity            : 0;
	transition         : transform .3s ease, opacity .3s ease;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
	transform          : translate(-50%, -75%) rotate(-45deg);
	opacity            : 1;
	transition         : transform .3s ease, opacity .3s ease;
}
.close {
	font-size: 1em;
	position : absolute;
	right    : 1.5em;
	top      : 1.5em;
	width    : 3em;
	height   : 3em;
	opacity  : 1;
	z-index  : 2;
	cursor   : pointer;
	transform: scale(.7);
}
.close:before,
.close:after {
	position        : absolute;
	left            : 1.5em;
	content         : ' ';
	height          : 2.5em;
	width           : .3em;
	background-color: #FFFFFF;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
.btn-submit,
.btn-signup {
	color: #FFFFFF;
	background   : #FE142F;
	margin       : 0;
}
.btn-submit {
	height: auto;
}
.modal-body.thank-you {
	flex-grow: 1;
}
.modal-body.thank-you #reserve-form {
	height: 0;
	transform: scaleY(0);
	transition: transform .3s ease, height .3s ease;
}
#thank-you {
	font-size: 1em;

	display        : flex;
	flex-grow      : 1;
	flex-flow      : column nowrap;
	align-items    : center;
	justify-content: center;
	
	display: none;
	padding: 2em 0;
	overflow: hidden;
	height: 0;
	transform: scaleY(0);

	transition: transform .3s ease, height .3s ease;
}
.modal-body.thank-you #thank-you {
	display: flex;
	height: 100%;
	transform: scaleY(1);
	transition: transform .3s ease, height .3s ease;
}
#thank-you p {
	font-size: 2.5em;
	font-weight: lighter;
	max-width: 7.6em;
	margin-top: auto;
	text-align: center;
}
#thank-you .button.btn-signup {
	font-size: 1em;
	padding: .5em 3em;
	justify-self: flex-end;
	margin-top: auto;
	margin-bottom: 0;
}

/* FOOTER */
footer {
	font-size  : 1.2em;
	text-align : center;
	font-family: var(--font-slab);

	margin: 1em auto 2em auto;
}
.copyrights {
	color      : #FE142F;
	
	font-weight: bolder;
}

button, .button, .modal-btn, .btn-signup, .btn-submit {
	font-size: 1em;

	padding      : 2.5% 10%;
	margin       : 1em auto;
	border-radius: var(--radius);
}

@media screen and (min-width : 768px) {
	.topnav {
		font-size  : 2em;
		margin     : 1.5em 0;
		align-items: flex-end;
	}
	.topnav > .header-logo {
		margin-left: 1.5em;
	}
	.topnav .main-navbar {
		font-size: 1em;
		position: static;
		padding: 0;

		flex-flow  : row nowrap;
		align-items: flex-end;

		transform : none;
		transition: none;
	}
	.topnav .main-navbar a {
		margin-bottom: 0;
		margin-left: 1em;
		display: block;
	}
	.topnav .icon {
		display: none;
	}
	main {
		font-size: 1em;
		margin : 2em 3em;
		padding: 0;
	}
	.hero-section {
		font-size: 2.1em;

		height    : auto;
		padding   : 0;
		box-shadow: 0 .2em .7em .2em rgba(0, 0, 0, 0.2);

		flex-grow  : 1;
		align-items: stretch;
	}
	.hero-section > .btn-signup {
		display : none;
	}
	.hero-content {
		font-size: 2em;
		color    : #FFFFFF;

		background: #232323;
		width     : 100%;
		height    : auto;
		margin    : 0;
		padding   : 1em 1.3em;

		flex-grow      : 1;
		justify-content: space-evenly;
	}
	.hero-content::after {
		content    : '';
		width      : 100%;
		background : #232323;
		position   : absolute;
		left       : 0;
		top        : 0;
		bottom     : 0;
	}
	.hero-content .btn-signup {
		font-size: .6em;
		display: block;
		padding: .5em 1.4em;
		margin-left: 0;
	}
	.hero-img {
		position  : absolute;
		bottom    : 0;
		right     : 0;
		top       : 0;
		max-width : 60%;
		width     : 100%;
		border-radius: 0 var(--radius) var(--radius) 0;
		margin    : 0;
	}
	.hero-img img {
		border-radius: 0 var(--radius) var(--radius) 0;
	}
	.hero-headline {
		font-size   : 2.6em;
		line-height : 1.2em;
		font-weight : 500;
		max-width   : 75%;
	}
	.hero-text {
		font-size  : .6em;
		font-weight: lighter;
		max-width: 400px;
	}
	.bground {
		background-color: white;
		justify-content : center;
	}
	.bground > .content {
		min-height: 80%;
		border-radius: var(--radius);
		flex-grow: 0;
	}
	.bground.open > .content {
		height: auto;
	}
	#reserve-form {
		font-size: 1em;
	}
	input, .text-control {
		padding: .5em;
	}
	.checkbox-label .checkbox-icon,
	.checkbox2-label .checkbox-icon {
		--checkbox-border-size: 2px;
		--checkbox-size: 24px;
	}
	.checkbox-label .checkbox-icon::after,
	.checkbox2-label .checkbox-icon::after {
		--checkbox-offset: 2px;
	}
	.btn-submit {
		font-size: 1em;
		padding: .7em 3em;
	}
	footer {
		font-size   : 1.5em;
		text-align  : start;
		margin-left : 0;
		padding-left: 0;
	}
}

@media screen and (min-width: 1440px) {
	/* GLOBAL VARS OVERRIDE */
	:root {
		--container-width: 1440px;
	}
	body {
		max-width: var(--container-width);
		width    : 100%;
		padding  : 0 2em;
		margin   : 0 auto;
	}
}